BOT_TOKEN=YOUR_BOT_TOKEN_HERE
# Bir nechta admin uchun vergul bilan ajrating: 123456,789012,345678
ADMIN_IDS=YOUR_ADMIN_ID_HERE
GROUP_ID=YOUR_GROUP_ID_HERE

DB_NAME=iau_admission_db
DB_USER=iau_user
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=localhost
DB_PORT=5432
